.libros{
    background-image: url(../../../assets/img/estante2.PNG);
    background-size:contain ;
    
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;

}

.buscador{
    width: 100%;
    height: 5vh;
    background-image: url(../../../assets/img/4-516.jpg);
    display: flex;
    justify-content: center;
    
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 1%;
  }
  
  .input {
    min-height: 50px;
    max-width: 150px;
    padding: 0 1rem;
    color: #fff;
    font-size: 15px;
    border: 1px solid goldenrod;
    border-radius: 6px 0 0 6px;
    background-color: transparent;
  }
  
  .button--submit {
    min-height: 50px;
    padding: .5em 1em;
    border: none;
    border-radius: 0 6px 6px 0;
    background-color: black;
    color: goldenrod;
    font-size: 15px;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
  }
  
  .button--submit:hover {
    background-color: rgb(4, 55, 4);
  }
  
  .input:focus, .input:focus-visible {
    border-color: black;
    outline: none;
  }
  



.card {
    width: 190px;
    height: 280px;
    background: #02370b;
    border-radius: 15px;
    box-shadow: 1px 5px 60px 0px #100a886b;
    margin: 2%;
    margin-bottom: 1%;
    margin-top: 1%;
   }
   
   .card .card-border-top {
    width: 60%;
    height: 3%;
    background: goldenrod;
    margin: auto;
    border-radius: 0px 0px 15px 15px;
   }
   
   .eliminate{
    align-items: flex-end;
    margin-left: 85%;
   
    background-color: red;
    border-radius: 100%;
   }

   .card span {
    font-weight: 600;
    color: white;
    text-align: center;
    display: block;
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 16px;
   }
   
   .card .job {
    font-weight: 400;
    color: white;
    display: block;
    text-align: center;
    padding-top: 5px;
    font-size: 12px;
   }
   
   .card .img {
    width: 95px;
    height: 120px;
    /* background: #6b64f3; */
    border-radius: 15px;
    margin: auto;
    margin-top: -3px;
    display: flex;
    justify-content: center;
    
   }
   
   .buttton{
    padding: 8px 25px;
    display: block;
    margin: auto;
    border-radius: 8px;
    border: none;
    margin-top: 5px;
    background: #6b64f3;
    color: white;
    font-weight: 600;
   }
   
   .buttton:hover {
    background: #534bf3;
   } 

   .nuevaClase{
    padding: 8px 25px;
    display: block;
    margin: auto;
    border-radius: 8px;
    border: none;
    margin-top: 5px;
    background: grey;
    color: white;
    font-weight: 600;
   }
   .nuevaClase:hover {
    background: black;
   }
   

/* 
   ////////////////////////// */
