<div class="buscador">
    <div class="input-group" >
        <input type="text" class="input"  placeholder="buscar libro" autocomplete="off" #id>
        <input class="button" value="Buscar" type="submit" (click)="mostrarLibros(id.value)">
    </div>
</div>
<div class="libros" >
    <div class="card" *ngFor="let libro of libros;let par = even;" >
        <div class="card-border-top">
        </div>
        <button class="eliminate" (click)="eliminarLibro(libro.id_libro)">X</button>
        <div class="img" ><img [src]="this.libro.photo"  >
        </div>
        <span> {{libro.titulo}}</span>
        <p class="job"> {{libro.autor}}</p>
        <p class="job"> {{libro.tipoLibro}}</p>
        <p class="job"> {{libro.precio}} €</p>
        <p class="job"> {{libro.id_libro | ref}}</p>
        <button class="buttton"[ngClass]="{nuevaClase : par}"> Comprar🛒</button>
      </div>
     
      
</div>

<div class="libros" *ngIf="libros.length===0">
    <div>NO HAY LIBROS</div>
</div>



