<footer class="footer">
    
    <div class="redes">
        <div class="logoInfo">
            <a href="https://es-es.facebook.com/"><img class="logo" src="../../../assets/img/facebookLogo.png" alt="logos"></a>
            
        </div>
        <div class="logoInfo">
            <a href="https://www.instagram.com/"><img class="logo" src="../../../assets/img/logoinsta.png" alt="logos"></a>
            
        </div>
        <div class="logoInfo">
            <a href="https://twitter.com/"><img class="logo" src="../../../assets/img/twiterLogo.png" alt="logos"></a>
            
        </div>
        
    </div>
    <div class="footDiv">
        <div class="footDiv1">
            <p>Todos los derechos reservados</p>
        </div>
        
    </div>
</footer>
