<div class="hueco"></div>
<div class="formBox">
    <div class="text"><h2>INTRODUCE NUEVOS LIBROS</h2></div>
    <div class="form">
        <div class="form__group field">
            <input required="" placeholder="Titulo" class="form__field" type="input" #titulo>
            <label class="form__label" for="name">Titulo</label>
        </div>
        <div class="form__group field">
            <input required="" placeholder="Name" class="form__field" type="input" #autor>
            <label class="form__label" for="name">Autor</label>
        </div>
        <div class="form__group field">
            <input required="" placeholder="TipoLibro" class="form__field" type="input" #tipo>
            <label class="form__label" for="name">Tipo de libro</label>
        </div>
        
        <div class="form__group field">
            <input required="" placeholder="Name" class="form__field" type="input" #precio>
            <label class="form__label" for="name">Precio</label>
        </div>
        <div class="form__group field">
            <input required="" placeholder="Name" class="form__field" type="input" #foto>
            <label class="form__label" for="name">Portada</label>
        </div>
        <div class="form__group field">
            <input required="" placeholder="Name" class="form__field" type="input" #id_libro>
            <label class="form__label" for="name">id_libro</label>
        </div>
        <div class="form__group field">
            <input required="" placeholder="Name" class="form__field" type="input" #id_usuario>
            <label class="form__label" for="name">id_usuario</label>
        </div>
    </div>
    <button class="button" (click) = "enviar(titulo.value,tipo.value,autor.value,precio.value,foto.value,id_libro.value,id_usuario.value)"> Subir libro
    </button>
</div>
<div class="hueco"></div>
