
  <div class="form">
      <input type="text" name="text" class="input" placeholder="Nombre">
      <input type="text" name="text" class="input" placeholder="Apellido">
      <input type="text" name="text" class="input" placeholder="email">
      <input type="password" name="text" class="input" placeholder="Introduce contraseña">
      <input type="password" name="text" class="input" placeholder="Repite la contraseña">
      <a class="fancy" href="#">
          <span class="top-key"></span>
          <span class="text">Enviar</span>
          <span class="bottom-key-1"></span>
          <span class="bottom-key-2"></span>
        </a>
  </div>
